body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222; 
  background: #ffffff url("image/mota.png") no-repeat top center;
}

